<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">

    <%= f.input :email, label: 'Email', as: :email, input_html: {autofocus: true, autocomplete: "email"} %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <% if @minimum_password_length %>
      <% @minimum_password_length_string = "#{@minimum_password_length} characters minimum" %>
    <% else %>
      <% @minimum_password_length_string = "" %>
    <% end %>
    <%= f.input :password,
                label: "Password <i><small>(leave blank if you don't want to change it)</small></i>".html_safe,
                hint: "#{@minimum_password_length_string}",
                as: :password,
                input_html: {autocomplete: "off"} %>
  </div>

  <div class="field">
    <%= f.input :password_confirmation,
                label: 'Password Comfirmation',
                as: :password,
                input_html: {autocomplete: "off"} %>
  </div>

  <div class="field">
    <%= f.input :current_password,
                label: "Current Password <i><small>(we need your current password to confirm your changes)</small></i>".html_safe,
                as: :password,
                input_html: {autocomplete: "off"} %>
  </div>

  <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>
<hr />

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger" %></p>

<hr />
<%= link_to :back do%>
  <div class="btn btn-info">Back</div>
<% end %>
