<%= simple_form_for [@article, @article.comments.build] do |form| %>
  <% if flash[:comment_errors]%>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>
        <%= pluralize(flash[:comment_errors].count, "error") %> prohibited
        this comment from being created:
      </h3>
      <ul>
        <% flash[:comment_errors].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.input :commenter, label: 'Commenter', input_html: {value: current_user&.email} %>
  </p>
  <p>
    <%= form.input :body, as: :text, label: 'Body', input_html: {maxlength: 500, rows: 5} %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>