<%= simple_form_for @article do |form| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.input :title, :label => 'Title' %>
  </p>

  <p>
    <%= form.input :text, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } } %>
  </p>


  <%= form.button :submit, class: "btn btn-primary" %>


<% end %>