<%= simple_form_for @article do |form| %>

  <% if flash[:new_article_errors] %>
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>
        <%= pluralize(flash[:new_article_errors].count, "error") %> prohibited
        this article from being saved:
      </h3>
      <ul>
        <% flash[:new_article_errors].each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>

    </div>
  <% end %>

  <p>
    <%= form.input :title, :label => 'Title' %>
  </p>

  <p>
    <%= form.input :text, as: :ckeditor, input_html: {ckeditor: {toolbar: 'mini'}} %>
  </p>


  <%= form.button :submit, class: "btn btn-primary" %>


<% end %>