<div class="container">
  <div class="row">
    <h1>Listing All Articles</h1>
  </div>

  <% @articles.reverse_each do |article| %>
    <div class="row">
      <div class="article-show">
        <div class="media">
          <div class="media-body">
            <%= link_to(article_path(article)) do %>
              <h5 class="mt-0"><%= article.title %></h5>
            <% end %>
            <%= article.text.html_safe %>
          </div>
        </div>
        <hr/>
        <div class="article-details">
          <p><strong>Author: </strong><%= User.find(article.user_id).email %></p>
          <i><small><%= article.created_at.strftime("%d/%m/%y") %></small></i>
        </div>
      </div>
    </div>
  <% end %>


</div>
</div>


