<p>
  <h3><strong>Title:</strong></h3>
  <%= @article.title %>
</p>
<hr />
<p>
  <h3><strong>Text:</strong></h3>
  <%= @article.text.html_safe %>
</p>
<hr />
<p>
  <h3><strong>Create at:</strong></h3>
  <%= @article.created_at %>
</p>
<hr />
<p>
  <h3><strong>Author:</strong></h3>
  <%= @writer.email %>
</p>
<hr />
<br />
<h2>Comments:</h2>
<% if @article.comments.length != 0%>
  <%= render @article.comments %>
<% else %>
  <p>No comments.</p>
<% end %>

<hr />
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<% if user_signed_in? and current_user.id == @article.user_id %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
